body {
    font-family: 'Open Sans', sans-serif;
	color:#000000;
}
.container  {
    width: 1024px;
    margin: 0 auto;
}
.header-title {
    font-weight: 700;
	font-size: 35px;
    padding-top: 50px;
}
.section {
	margin-bottom: 60px;
}
.section-title {
	margin-top: 20px;
	font-weight: 600;
	font-size: 25px;
}
.section-description {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1.3;
}
.section-img {
	display: block;
    margin: 20px;
    width: 300px;
}
.section-description--italic {
	font-style: italic;
}
.section-description--bolt {
	font-weight: 700;
}
.code-container-title {
	margin: 20px 0px;
}
.code-container-item {
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 20px;
	background: #ccc;
}
.item-title {
	margin-bottom: 20px;
	font-weight: 600;
}
pre {
	line-height: 1.4;
}
.copy {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}